.words-wrapper {
  display: flex;
  justify-content: center;
  height: 50vh;
  overflow-y: auto;
  min-width: 100vw;
  color: #fff;
  font-size: 18px;
}

.del-btn {
  background-color: red;
  color: #fff;
  margin-left: 5px;
  padding: 2px 7px;
  font-weight: 500;
  font-size: 16px;
}