/* G A M E    P A G E S */

.game-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(30, 144, 255, .4);
  min-height: 100vh;
}

.game-page-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(30, 144, 255, .3);
  padding: 25px 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px 15px rgba(30, 144, 255, .2);
  border: 1px solid rgba(30, 144, 255, .2);
}

.question-word {
  width: 100%;
  text-align: center;
  font-size: 20px;
  background-color: green;
  padding: 15px 0;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1.5px;
}

.check-input {
  width: 100%;
  padding: 10px 15px;
  border: none;
  font-size: 17px;
  border-radius: 4px;
}

.check-input:focus {
  outline: none;
}

.check-btn {
  background-color:rgb(43, 221, 43);
  color: #fff;
  width: 100%;
  margin: 15px 0;
}

.bill {
  width: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.back-link {
  background-color: dodgerblue;
  color: #fff;
}
.return-btn {
  background-color: green;
  color: #fff;
  margin: 0 15px;
}
.result-btn {
  background-color: blue;
  color: #fff;
}


/* R E S U L T   P A G E S */


.result-page {
  background-color: rgba(63, 24, 236, 0.1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.result-page__inner {
  background-color: #aaa;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .2);
  color: #333;
  margin-top: -150px;
}

.result-page__title {
  margin: 0;
  font-size: 36px;
  color: coral;
  letter-spacing: 2px;
}

.result-page__inner p {
  font-size: 18px;
  letter-spacing: 1px;
}

.result-page__inner h3 {
  color: greenyellow;
}

.result-page__percent {
  color: rgb(14, 74, 134);
  font-size: 24px;
}

.home-btn {
  background-color: dodgerblue;
  margin: 5px;
  color: #fff;
}
.game-btn {
  background-color: rgb(27, 185, 27);
  margin: 5px;
  color: #fff;
}

.correct {
  background-color: greenyellow;
}

.incorrect {
  background-color: rgba(255, 68, 68, .5);
}